.family{
	background: url('../images/common/family.png') no-repeat center center;
	background-size: cover;
	border-top: solid 3px $blue;
	border-bottom: solid 3px $blue;
	overflow: hidden;

	h1{
		margin-bottom: 0px;
		margin-top: 80px;
	}
	.long-blue-line{
		margin-bottom: 95px;
	}
}