
#footer.footer{
	background: #EBEBEB url('../images/common/footer/footer-bg.png') no-repeat center center;
	background-size: 100% 100%;
	color: $blue;
	margin-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	position: relative;
	@media all and (max-width: 767px){
		padding-bottom: 10px;
	}

	.box_center{
		background-color: #ffffff;
		color: #717171;
		padding: 50px;
		margin-top: 100px;
		margin-bottom: 50px;

		.footer-title{
			margin-bottom: 19px;
			margin-top: 20px;
		}
		p:last-of-type{
			margin-bottom: 42px;
		}
		@media all and (max-width: 450px){
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.emails{
		text-align: center;
		color: $blue;
		font-size: 17px;
		padding-bottom: 10px;
		padding-top: 42px;
		margin-bottom: 0px;
		font-weight: 400;
		position: relative;
		@media all and (max-width: 767px){
			padding-top: 0px;
		}
		.email{
			@media all and (max-width: 767px){
				background: white;
				display: inline-block;
				margin: auto;
				// transform: translate(-50%);
				position: relative;
				// left: 50%;
				max-width: 60vw;
				margin-bottom: 20px;
				padding: 15px 40px;
			}
			@media all and (max-width: 450px){
				max-width: 100vw;
				width: 90vw;
				// margin-left: 5vw;
			}
		}
		.fw-blue-line{
			@media all and (max-width: 767px){
				width: 50px;
				margin-bottom: 0px;
			}
		}
		& > div{
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	span{
		color: black;
		font-weight: 700;
	}
	a{
		text-decoration: underline;
		font-weight: 300;
		@media all and (max-width: 767px){
			font-size: 15px;
			margin-top: 0px;
		}
	}
	.long-blue-line{
		width: 250px;
		margin-bottom: 27px;
	}
	.fw-blue-line-fw{
		@extend .fw-blue-line;
		position: absolute;
		bottom: 152px;
		@media all and (max-width: 767px){
			display: none;
		}
	}
	p{
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 0px;
		@media all and (max-width: 700px){
			font-size: 20px;
			line-height: 32px;
		}
		@media all and (max-width: 450px){
			font-size: 18px;
			line-height: 28px;
		}
	}
	h3{
		@media all and (max-width: 700px){
			font-size: 17px;
			line-height: 24px;
		}
		&:first-of-type{
			margin-top: 00px;
		}
	}
}