body{
	margin: 0px;
	font-family: 'Roboto', sans-serif !important;
	letter-spacing: 2px;
	letter-spacing: normal;
	font-size: 16px;
	text-align: justify;
	text-justify: distribute;
	font-weight: 100;
	color: #a0a0a0;
}
.container{
	width: 100vw;
	overflow: hidden;
	@media all and (min-width: 480px){
		width: 100vw;
	}
	@media all and (min-width: 768px){
		width: 768px;
	}
	@media all and (min-width: 1024px){
		width: 1024px;
	}
	@media all and (min-width: 1200px){
		width: 1200px;
	}
}
.container-fluid{
	overflow: hidden;
	padding-left: 0px;
	padding-right: 0px;
}
h1{
	font-weight: 300;
	font-size: 60px;
	color: $blue;
	margin-top: 60px;
	margin-bottom: 30px;
	text-align: center;
	@media all and (max-width: 1023px){
		font-size: 45px;
	}
	@media all and (max-width: 767px){
		font-size: 35px;
	}
	@media all and (max-width: 479px){
		font-size: 30px;
	}
}
h3{
	font-size: 24px;
	color: $blue;
	line-height: 36px;
	margin: 0px;
	@media all and (max-width: 1024px){
		font-size: 20px;
		line-height: 32px;
		font-weight: 700;
	}
}
a{
	color: $blue;
}
p{
	font-size: 18px;
	color: $gray;
	line-height: 38px;
	@media all and (max-width: 1023px){
		font-size: 16px;
		line-height: 32px;
	}
}
.sublead{
	font-size: 24px;
	color: $gray;
	line-height: 36px;
	@media all and (max-width: 767px){
		font-size: 20px;
		line-height: 28px;
	}
	@media all and (max-width: 479px){
		font-size: 16px;
		line-height: 24px;
	}
}
.bolded{
	font-weight: 300;
	font-size: 28px;
	color: $gray;
	text-align: center;
	line-height: 30px;
	@media all and (max-width: 1023px){
		font-size: 22px;
	}
}
.sub-bolded{
	font-size: 18px;
	line-height: 21px;
	text-align: justify;
}

.blue-line{
	height: 4px;
	width: 80px;
	bottom: 0;
	background-color: $blue;
	margin: 0px auto 30px;
	@media all and (max-width: 479px){
		margin: 0px auto 10px;
	}
}
.long-blue-line{
	@extend .blue-line;
	width: 250px;
}
.fw-blue-line{
	@extend .blue-line;
	width: 100vw;
}



section{
  padding: 50px 20px;
      padding-bottom: 0;
}
section > div{
padding-top:20px;
padding-bottom:20px;
}


.btn_green{
      background-color: #3FBB9B;
    color: #ffffff;
    padding: 6px 30px;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.39);
    border-radius: 3px;
    font-size: 13px;
    text-decoration: none;
}
.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-right: 100px solid transparent;
}



/*-----------Box Container-----------*/
.box_container1{
  text-align: center;

}
.box_container1 span{
  display:block;
}
.box_container1  > div > span:nth-child(2){
  font-size: 21px;
  color: #6f6f6f;
  border-top: solid 1px #afd4ef;
  padding-top: 8px;
}
.box_container1  > div > span:nth-child(3){
  text-align: justify;
  font-size: 12px;
}
.box_container1 img{
  width: 126px;
  border-radius: 100%;
}
.box_container1 a{
  padding: 6px 30px;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.39);
  border-radius: 3px;
  font-size: 13px;
  color: $blue;
  font-weight: 400;
}
/*-----------/END Box Container-----------*/

.picture-group{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	@media all and (max-width: 767px){
		display: block;
	}

	.col-sm-12{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 0px 20px;

		img{
			float: none;
			vertical-align: middle;
		}
	}
	&:first-of-type{
		img{
			@media all and (max-width: 767px){
				margin-bottom: 25px;
			}
		}
	}
}