.landing{
	width: 100%;
	min-height: 400px;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	top: -15px;

	h1{
		font-size: 80px;
		color: #ffffff;
		text-align: center;
		width: 100%;
		display: block;
		padding-top: 200px;
		transform: translate(-50%, -50%);
		position: relative;
		top: 40vh;
		left: 50vw;
		font-weight: 100;
		@media all and (max-width: 767px){
			font-size: 40px;
		}
		@media all and (max-width: 479px){
			font-size: 30px;
		}
	}
	.green-logo{
		float: right;
		position: absolute;
		right: 5vw;
		top: 85vh;
		@media all and (max-width: 767px){
			right: 0;
			left: 50vw;
			transform: translate(-50%);
		}
	}
}