.navbar{
	margin-bottom: 0px;

	.container{
		@media all and (min-width: 768px){
			width: 100vw;
		}
		@media all and (min-width: 1024px){
			width: 1024px;
		}
		@media all and (min-width: 1200px){
			width: 1200px;
		}
		overflow: visible;
	}
	li{
		@media all and (max-width: 900px){
			font-size: 10px;
		}
	}
}
.navbar-brand{
	padding: 4px;
	img{
		width: 340px;
		@media all and (max-width: 1023px){
			width: 290px;
		}
	}
	&.brand-small{
		display: none;
		padding: 13px;
		img{
			width: 100px;
		}
		@media all and (max-width: 900px){
			display: inline-block;
		}
	}
	&.brand-large{
		display: none;
		@media all and (min-width: 901px){
			display: inline-block;
		}
	}
}
.navbar-default{
	background-color: #ffffff;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 400;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #ffffff;
}

.navbar-default .navbar-nav > .active > a:after{
	content:'';
	position:absolute;
	bottom: 0;
	width: 100%;
	height: 4px;
	left: 0;
	background-color: #161FE2;
}

@media (max-width: 700px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
	}
	.navbar-default .navbar-nav > .active > a:after{
		display: none;
	}
}