#hvac{
	.landing{
		background: url('../images/solutions/hvac/landing-bg.png') no-repeat fixed center center;
		background-size: cover;
		h1{
			@media all and (max-width: 900px){
				font-size: 120px;
			}
			@media all and (max-width: 40em){
				font-size: 80px;
			}
		}
	}
}
