#ie{
	.landing{
		background: url('../images/solutions/ie/landing-bg.png') no-repeat fixed center center;
		background-size: cover;
		top: 0px;

		h1{
			margin-bottom: 0px;
			margin-top: 0px;
			padding-top: 0px;
			font-size: 120px;
			@media all and (max-width: 900px){
				font-size: 80px;
			}
			@media all and (max-width: 40em){
				font-size: 50px;
			}
			@media all and (max-width: 450px){
				font-size: 40px;
			}

			&.and{
				font-size: 60px;
				margin-top: -20px;
				margin-bottom: 20px;
				@media all and (max-width: 900px){
					font-size: 40px;
					line-height: 50px;
				}
				@media all and (max-width: 40em){
					margin-bottom: 5px;
					margin-top: 5px;
				}
			}
		}
	}
}
