#mgmt{
	.landing{
		background: url('../images/solutions/constructionmgmt/landing-bg.png') no-repeat fixed center center;
		background-size: cover;
		h1{
			font-size: 150px;
			@media all and (max-width: 900px){
				font-size: 100px;
			}
			@media all and (max-width: 40em){
				font-size: 50px;
			}
		}
	}
}
