.solution{
	.landing{
		h1{
			font-weight: 700;
			font-size: 200px;
			letter-spacing: 0;
		}
		.and{
			font-size: 60px;
			line-height: 80px;
		}
	}
	.picture-group{
		font-size: 28px;
		color: $dark-gray;
		margin-top: 90px;
		margin-bottom: 90px;
		img{
			max-width: 100%;
		}
		@media all and (max-width: 1023px){

		}
	}
	.contact-us{
		background-color: #1C1C1C;
		background: black url('../images/solutions/contact-us-bg.png') no-repeat center center;
		background-size: cover;
		padding: 20px;
		.container{
			@media all and (max-width: 1023px){
				width: 100%;
			}
		}
		.green-frame{
			position: relative;
			width: 98%;
			left: 1%;
			top: 5%;
			height: 100%;
			border: solid 13px $green;
			text-align: center;
			@media all and (max-width: 768px){
				border-left: solid 0px $green;
				border-right: solid 0px $green;
			}

			h1{
				margin-bottom: 0px;
				margin-top: 30px;
				color: white;
				font-weight: 300;
				// @media all and (max-width: )
			}
			.blue-line{
				margin-bottom: 55px;
			}


			p{
				color: white;
				font-size: 28px;
				@media all and (max-width: 768px){
					font-size: 24px;
				}
				@media all and (max-width: 450px){
					font-size: 18px;
				}

				a{
					font-size: 34px;
					margin-bottom: 50px;
					margin-top: 60px;
					display: block;
					@media all and (max-width: 768px){
						font-size: 24px;
						margin-bottom: 30px;
						margin-top: 40px;
					}
					@media all and (max-width: 768px){
						font-size: 18px;
						margin-bottom: 20px;
						margin-top: 30px;
					}
				}
			}
		}
	}
	#footer.footer{
		@media all and (max-width: 768px){
			margin-top: 0px;
		}
	}
}