#about{
	.landing{
		background: url('../images/about/landing-bg.png') no-repeat fixed center center;
		background-size: cover;
		top: -30px;
	}
	.family{
		margin: 80px 0px 100px;
	}
	p{
		@media all and (max-width: 1023px){
			font-size: 15px;
			line-height: 28px;
		}
	}
	.footer{
		margin-top: 0px;
	}
}