#careers{
	.landing{
		background: url('../images/home/landing-bg.jpg') no-repeat fixed center center;
		background-size: cover;
	}
	.sublead{
		margin-top: 88px;
		@media all and (max-width: 767px){
			margin-top: 40px;
		}
	}
	.fw-blue-line{
		margin-bottom: 0px;
	}

	.vertical-section {
		position: relative;
		overflow: auto;

		.job-content-container{
			display: flex;
			align-items: stretch;
			@media all and (max-width: 767px){
				display: block;
			}
			.job-content{
				display: flex;
				align-items: center;
				&.text-left, &.img-left{
					justify-content: flex-end;
					border-right: 5px solid $blue;
					@media all and (max-width: 767px){
						justify-content: center;
						border-right: none;
					}
				}
				@media all and (max-width: 767px){
					justify-content: center;
				}
			}
			// .job-content:first-child{
			// 	justify-content: flex-end;
			// 	border-right: 5px solid $blue;
			// 	@media all and (max-width: 767px){
			// 		justify-content: center;
			// 		border-right: none;
			// 	}
			// }
			.job-content.img{
				justify-content: flex-end;
				border-right: 5px solid $blue;
				@media all and (max-width: 767px){
					justify-content: center;
					border-right: none;
				}
			}
			.job-text, .job-img{
				padding-bottom: 70px;
				padding-top: 70px;
				@media all and (max-width: 1023px){
					padding-bottom: 30px;
					padding-top: 30px;
				}
				@media all and (max-width: 767px){
					padding-bottom: 10px;
					padding-top: 10px;
				}
			}
			.blue-bracket{
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,1e5799+100 */
				background: rgb(125,185,232); /* Old browsers */
				background: -moz-radial-gradient(center, ellipse cover, rgba(125,185,232,1) 0%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
				background: -webkit-radial-gradient(center, ellipse cover, rgba(125,185,232,1) 0%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: radial-gradient(ellipse at center, rgba(125,185,232,1) 0%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				// @media all and (max-width: 1023px){
				// 	display: none;
				// }
			}
			.job-img{
				img{
					max-width: 100%;
					@media all and (max-width: 767px){
						max-width: 80%;
					}
				}
				@media all and (max-width: 767px){
					padding-top: 40px;
				}
				&::before{
					@media all and (max-width: 767px){
						display: none;
					}
				}
				&::after{
					@media all and (max-width: 767px){
						display: none;
					}
				}
			}
			.img-left{
				text-align: right;
				padding-right: 50px;
				justify-content: flex-end;
				@media all and (max-width: 1023px){
					padding-right: 20px;
				}
				@media all and (max-width: 767px){
					justify-content: center;
				}
				&::before {
					@extend .blue-bracket;
					content: '';
					position: absolute;
					width: 100px;
					height: 29px;
					top: 26%;
					right: 0;
					z-index: -1;
					@media all and (max-width: 1023px){
						top: 30%;
					}
				}
				&::after {
					@extend .blue-bracket;
					content: '';
					position: absolute;
					width: 100px;
					height: 29px;
					bottom: 26%;
					right: 0;
					z-index: -1;
					@media all and (max-width: 1023px){
						bottom: 30%;
					}
					@media all and (max-width: 767px){
						display: none;
					}
				}
			}
			.img-right{
				padding-left: 50px;
				@media all and (max-width: 1023px){
					padding-left: 20px;
				}
				@media all and (max-width: 767px){
					justify-content: center;
				}
				&:before{
					@extend .blue-bracket;
					content: '';
					position: absolute;
					width: 100px;
					height: 29px;
					top: 26%;
					left: 0;
					z-index: -1;
					@media all and (max-width: 1023px){
						top: 30%;
					}
				}
				&::after {
					@extend .blue-bracket;
					content: '';
					position: absolute;
					width: 100px;
					height: 29px;
					bottom: 26%;
					left: 0;
					z-index: -1;
					@media all and (max-width: 1023px){
						bottom: 30%;
					}
				}
			}
			.text-left
			.long-blue-line{
				margin-bottom: 0px;
			}
			p{
				margin-top: 0px;
				text-align: center;
			}
			.view-description{
				margin-bottom: 70px;
				@media all and (max-width: 1023px){
					margin-bottom: 25px;
				}
			}
			.bolded{
				margin-bottom: 0px;
				margin-top: 0px;
				@media all and (max-width: 767px){
					font-size: 24px;
				}
			}
			.job-cta{
				max-width: 475px;
				background: #E7ECEE;
				padding: 18px;
				padding-top: 13px;
				.blue-line{
					margin-bottom: 8px;
				}
				p:nth-of-type(2	){
					text-align: left;
				}
			}

		}
		img{
			border-radius: 12px;
			border: solid 4px $blue;
		}
		.img_right {
		}
		.img_left{

		}
	}

	@media screen and (min-width: 40em) {
		.vertical-section:before {
			left: 50%;
		}
		.vertical-section ul {
			padding-left: 0;
			max-width: 700px;
			margin: 0 auto;
		}

		.vertical-section .img_left:before,   .vertical-section .img_left:after {
			right: 0;
				left: inherit;
		}
	}
}

