#employees{
	.landing{
		background: url('../images/employees/landing-bg.png') no-repeat center center;
		background-size: cover;
		position: relative;

		.honeycomb-landing{
			max-height: 90vh;
			transform: translate(-50%, -50%);
			position: relative;
			top: 50%;
			left: 50%;
			max-width: 100vw;
		}
		.honeycomb-clickables{
			transform: translate(-50%, -50%);
			position: absolute;
			top: 56%;
			left: 50%;
			max-width: 742px;
			@media all and (max-width: 500px){
				top: 54%;
			}
			@media all and (max-width: 400px){
				top: 53%;
			}

			.clickable{
				display: block;
				height: 115px;
				width: 100%;
				margin-bottom: 17px;
				max-height: 15vw;
				@media all and (max-width: 796px){
					margin-bottom: 2vw;
				}
				@media all and (max-width: 796px){
					min-width: 20vw;
				}
			}
			.tc{
				margin-bottom: 26px;
				@media all and (max-width: 796px){
					margin-bottom: 3vw;
				}
			}
			.tl, .tr{
				@media all and (max-width: 796px){
					margin-bottom: 1vw;
				}
			}
			.c{
				height: 140px;
				max-height: 19vw;
				margin-bottom: 5px;
				@media all and (max-width: 796px){
					margin-bottom: 1vw;
				}
			}
			.bl, .br{

			}
			.b{

			}

		}
	}
	.border-blue{
		border: 3px solid $blue;
		background-color: #FAFAFA;
		position: relative;
		h1{
			margin-bottom: 0px;
			margin-top: 10px;
		}
	}
	.quick-link-images{
		position: absolute;
		top: 110px;
		width: 100vw;

		img{
			max-width: 100%;
		}
		@media all and (max-width: 770px){
			display: none;
		}
	}
	.long-blue-line{
		margin-bottom: 0px;
		width: 500px;
	}
	.quick-links{
		text-align: left;
		width: 200px;
		margin: auto;
		text-decoration: underline;
		margin-top: 35px;
		margin-bottom: 30px;
	}
	.benefits{
		h1{
			margin-top: 55px;
			margin-bottom: 0px;
		}
		p{
			margin-top: 15px;
			font-size: 24px;
			line-height: 36px;
			text-align: center;
			margin-bottom: 70px;
		}
	}
	.text-left{
		text-align: left;
		margin-bottom: 0px;
	}
	.text-right{
		text-align: right;
		margin-bottom: 0px;
	}

	// ===== Benefit Section ====================
	.benefit{
		position: relative;
		.img{
			width: 50vw;
			max-width: 900px;
			z-index: -1;
			background-size: cover;
			height: 246px;
			margin-top: 2px;
			position: absolute;
			top: 0;
			&.img1{
				background: url('../images/employees/employees1.png') no-repeat left center;
			}
			&.img2{
				background: url('../images/employees/employees2.png') no-repeat left center;
			}
			&.img3{
				background: url('../images/employees/employees3.png') no-repeat left center;
			}
			&.img4{
				background: url('../images/employees/employees4.png') no-repeat left center;
			}
			&.img5{
				background: url('../images/employees/employees5.png') no-repeat left center;
			}
			&.img6{
				background: url('../images/employees/employees6.png') no-repeat left center;
			}
			&.img-right{
				right: 0;
			}
			&.img-left{
				left: 0;
			}
			@media all and (max-width: 767px){
				display: none;
			}
		}
		.slant{
			height: 250px;
			z-index: 2;
			display: flex;
			align-items: stretch;
			@media all and (max-width: 767px){
				display: block;
			}
		}
		.slant-l{
			@extend .slant;
			background: url('../images/employees/slant-l.png') no-repeat left center;
			background-size: 90% 100%;
			@media all and (max-width: 767px){
				background-size: 200% 100%;
				background-position: center center;
				padding-top: 20px;
				padding-bottom: 20px;
				height: auto;
			}
			.container{
				.row{
					position: relative;
					height: 100%;

					display: flex;
					align-items: center;
					@media all and (max-width: 767px){
						display: block;
					}
				}
			}

		}
		.slant-r{
			@extend .slant;
			background: url('../images/employees/slant-r.png') no-repeat right center;
			background-size: 90% 100%;
			.container .row{
				display: flex;
				align-items: center;
				@media all and (max-width: 767px){
					display: block;
			 	}
			}
			@media all and (max-width: 767px){
				background-size: 200% 100%;
				background-position: center center;
				padding-top: 20px;
				padding-bottom: 20px;
				height: auto;
			}
		}
		.benefit-text{
			align-self: flex-start;
			margin-top: 21px;
			h3.benefit-name{
				margin-bottom: 12px;
				text-align: center;
			}
			p{
				text-align: left;
				line-height: 28px;
				@media all and (max-width: 767px){
					font-size: 14px;
					line-height: 20px;
				}
			}
			a{
				font-weight: 300;
				text-decoration: underline;
			}
		}
		.benefit-logo{
			justify-content: center;
			text-align: center;
		}
	}
	#footer{
		.long-blue-line{
			width: 250px;
		}
	}
}