#home{
	.landing{
		background: url('../images/home/landing-bg.jpg') no-repeat fixed center center;
		background-size: cover;
	}
}



/*============== Icon Section ============== */
.icon-section.container{
	margin-top: 70px;
	margin-bottom: 95px;
	display: table;
	overflow: visible;

	img{
		margin: 4px auto;
		display: block;
		@media all and (max-width: 767px){
			margin-top: 40px;
		}
	}
	h4{
		font-weight: 300;
		color: $gray;
		border-top: 2px solid $light-blue;
		text-align: center;
		padding-top: 13px;
		display: block;
		height: 60px;
		@media all and (max-width: 1023px){
			height: 30px;
			position: relative;
			transform: translate(-50%, -50%);
			margin-top: 30px;
			left: 50%;
			margin-bottom: 0px;
		}
	}
	p{
		font-size: 14px;
		display: inline-block;
		height: 100px;
		line-height: 19px;
		// display: flex;
		// flex-wrap: wap;
		@media all and (max-width: 1023px){
			font-size: 13px;
			height: 80px;
		}
	}
	a{
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
		font-size: 16px;
		color: $blue;
		display: block;
		max-width: 160px;
		font-weight: 300;

		padding: 8px 39px;
		margin: 0px auto;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		@media all and (max-width: 1023px){
			margin-bottom: 30px;
		}
	}
	.icon-row{
		height: 100%;
		display: table-row;
	}
	.icon-group{
		display: table-cell;
		height: 100%;
		@media all and (min-width: 480px){
			float: left;
		}
	}


}




/*============== Carousel ============== */
#slide1{
	background-image: url(../images/solutions/hvac/landing-bg.png);
}
#slide2{
	background-image: url(../images/solutions/constructionmgmt/landing-bg.png);
}
#slide3{
	background-image: url(../images/solutions/ie/landing-bg.png);
}
#slide4{
	background-image: url(../images/solutions/remodeling/landing-bg.jpg);
}
.item{
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
	@media all and (max-width: 767px){
		height: 380px;
	}
}


.middle_box{

	.borders{
		position: absolute;
		width: 98%;
		left: 1%;
		top: 1%;
		/*height: 468px;*/
		height: 98%;
		border: solid 5px $blue;
	}
	.learn-more{
		background-color: $blue;
		color: #ffffff;
		padding: 10px 20px;
		border: solid 1px #9b9bfb;
		text-decoration: none;
		box-shadow: 0 0 18px 5px rgba(0, 0, 0, 0.55);
	}
	.bottom_absolute{
		position: absolute;
		bottom: 50px;
	}
	.carousel-title{
		width: 100%;
		display: block;
		text-align: center;
		color: #ffffff;
		font-size: 80px;
		font-weight: bold;

		transform: translate(-50%, -50%);
		position: relative;
		top: 50%;
		left: 50%;

		@media all and (max-width: 767px){
			font-size: 40px;
			max-width: 85vw;
		}
	}
	.and{
		font-size: 40px;
		line-height: 40px;
	}
	.ie-slide span{
		display: block;
	}
}
.carousel{
	padding-left: 0px;
	padding-right: 0px;
}




/*============== CTA ============== */
.cta{
	background: #D4F2EA url('../images/home/cta-bg.png') no-repeat center center;
	background-size: cover;
	margin-top: 95px;
	padding-top: 31px;
	padding-bottom: 55px;
	text-align: center;

	h1{
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.container{
		overflow: visible;
	}
	.join{
		padding-top: 73px;
		@media all and (max-width: 767px){
			padding-top: 35px;
		}
	}
}



/*============== Map ============== */
.map{
	background: url('../images/home/Map.png') no-repeat center center;
	background-size: cover;
	margin-top: 80px;
	height: 250px;
}