#honors{
	.landing{
		background: url('../images/honors/landing-bg.jpg') no-repeat fixed center center;
		background-size: cover;
		top: 0px;
	}
	.sublead{
		margin-top: 75px;
	}
	.recognized{
		font-weight: 700;
		margin-bottom: 100px;
	}
}